<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
  </head>
  <body>
    <h1>
      Welcome to notMangekampen
    </h1>
    <p>Can you find out where we are going?</p>
    <a href="/challenge/start">Let's start!</a>
  </body>
</html>
